<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <meta name="format-detection" content="telephone=no"/>
  <%#*<link rel="apple-touch-icon" href="http://wap.baidu.com/r/wise/wapsearchindex/favicon-57.png"/>%>
  <title>同享日程<%= "-#{@title}" if defined? @title%></title>
</head>
<body>
  <h1>同享日程</h1>
  <%= yield %>
</body>
</html>